---
import { getLogoForOS } from '../logos';

interface Props {
  username: string;
  info: Record<string, any>;
}

const { username, info } = Astro.props;
const keys = Object.keys(info);
---

<div class="terminal-block">
	{/* Terminal Body */}
	<div class="terminal-body">
		<pre
			class="hide-on-mobile terminal-logo-box"
			set:html={getLogoForOS(
				info.OS_ID || info.OS_ID_LIKE || info.OS || info.os || info.Os,
			)}
		></pre>
		<div class="terminal-details">
			<div class="terminal-host">
				<span>{info["User@Host"] || `${username}@fetchbook`}</span>
			</div>
			<div class="terminal-separator">-------------------------</div>
			{keys.map((key) => {
				if (key === "User@Host") return null;
				const val = info[key];
				if (typeof val === "string" || typeof val === "number") {
					return (
						<div>
							<span class="terminal-key">{key}</span>: {val}
						</div>
					);
				}
				return null;
			})}
		</div>
	</div>
</div>
